extends base

block content
	main
		h1= title
		p Sorry, but the page you were trying to view does not exist.
		p It looks like this was the result of either:
		ul
			li The page has moved
			li You typed the URL manually
			li You used an outdated link
		p Please try the following:
		ul
			li Go to the <a href="/">home page</a>
			li Contact the administrator
			li Use the search form
			li Go to the <a href="/">home page</a>
			li Contact the administrator
			li Use the search form
