footer.container.py-5
	.row
		.col-12.col-md
			svg.d-block.mb-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' role='img' viewbox='0 0 24 24')
				title Product
				circle(cx='12' cy='12' r='10')
				path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
			small.d-block.mb-3.text-muted= `${title} &copy; 2017&ndash;2021`
		.col-6.col-md
			h5 Features
			ul.list-unstyled.text-small
				li
					a.link-secondary(href='#') Cool stuff
				li
					a.link-secondary(href='#') Random feature
				li
					a.link-secondary(href='#') Team feature
				li
					a.link-secondary(href='#') Stuff for developers
				li
					a.link-secondary(href='#') Another one
				li
					a.link-secondary(href='#') Last time
		.col-6.col-md
			h5 Resources
			ul.list-unstyled.text-small
				li
					a.link-secondary(href='#') Resource name
				li
					a.link-secondary(href='#') Resource
				li
					a.link-secondary(href='#') Another resource
				li
					a.link-secondary(href='#') Final resource
		.col-6.col-md
			h5 Resources
			ul.list-unstyled.text-small
				li
					a.link-secondary(href='#') Business
				li
					a.link-secondary(href='#') Education
				li
					a.link-secondary(href='#') Government
				li
					a.link-secondary(href='#') Gaming
		.col-6.col-md
			h5 About
			ul.list-unstyled.text-small
				li
					a.link-secondary(href='#') Team
				li
					a.link-secondary(href='#') Locations
				li
					a.link-secondary(href='#') Privacy
				li
					a.link-secondary(href='#') Terms